html, body{
  // background: $html-bgc;
  // color: $color-text;
}
#app{
  width: 100%;
  height: 100%;
  min-width: 1000px;
}

/*滚动条凹槽的颜色，还可以设置边框属性 */
// *::-webkit-scrollbar-track-piece {
//   background-color:#f8f8f8;
//   -webkit-border-radius: 2em;
//   -moz-border-radius: 2em;
//   border-radius: 2em;
// }
// /*滚动条*/
// *::-webkit-scrollbar {
//   width: 0;
// }

// 布局
.layout{
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  overflow: hidden;
  &-menu{
    width: 200px;
    height: 100%;
  }
  &-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .layout-header{
      width: 100%;
      height: 48px;
      background-color: #FFFFFF;
      // box-shadow: 0 1px 2px 0 rgba(9,18,26,0.06), 0 4px 8px 0 rgba(39,56,73,0.08);
      box-shadow: 0 2px 12px 0 rgba(31, 22, 67, 0.2);
      min-width: 650px;
      z-index: 1;
    }
    .layout-content{
      flex: 1;
      box-sizing: border-box;
      overflow: hidden;
      display: flex;
      .component-flex-full{
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
      }
      .component-flex-page{
        flex: 1;
        overflow: auto;
        padding: 10px 20px;
        background: #fff;
        margin: 0 20px;
      }
      .component-flex-footer{
        padding: 10px 0;
        margin: 0 20px;
        background: #f5f7fa;
        padding-left: 120px; // 可根据每个页面的label宽度重写
      }
    }
  }
}


@import 'variables.scss';
@import 'mixins.scss';

html, body{
  width: 100%;
  height: 100%;
  font-family: system-ui,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

a{
  text-decoration: none;
}


/* *************** table *************** */
.el-table .el-table__header-wrapper .el-table__header,
.el-table .el-table__fixed-header-wrapper .el-table__header{
  tr th{
    background-color: #e4ebec;
    color: rgb(50, 69, 88);
    font-weight: bold;
  }
}
.el-table td {
  padding: 7px 0;
  .table-cell-link{
    cursor: pointer;
    display: inline-block;
    padding: 0 8px;
    font-weight: bold;
    color: $color-primary;
    &:hover{
      color: $color-primary-light;
    }
  }
  .table-cell-more{
    cursor: pointer;
    width: 100%;
    color: $color-primary;
    @include ellipsis();
  }
}
.el-table-column--selection .cell{
  padding: 0 !important;
}

// 解决数字输入框中增加、减少的样式问题
.el-input-number__increase, .el-input-number__decrease{
  top: 2px;
}
